body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: blue;
  font-style: sans-serif;
}

code {
  font-family: monospace;
  color: red;
}

#green-code code {
  color: green;
}

li + li {
  background-color: black;
  color: white;
}

ol > li {
  background-color: black;
  color: white;
}